<!-- <p>
  {{ a | percent: '2.1-2' }}
</p>
<p>
  {{ b | currency: 'CAD' : 'symbol' }}
</p>
<p>
  {{ name1 | uppercase}}
</p>
<p>
  {{ name1 | shorten:18:'...'}}
</p>
<p>
  {{ name2 | shorten:3:'ادامه مطلب ...'}}
</p>
<p>
  {{ d | date: 'fullDate' }}
  or {{ d | date: 'shortDate' }}
  or {{ d | date: 'd/m/y' }}
</p>
<p>
  {{ collection | slice: 1:3 }}
</p> -->
<div class="col-4">
<div class="form-group">
  <p>username: {{ username | async }}</p>
  <br>
<input type="text" class="form-control" [(ngModel)]="filterString">
<button type="button" class="btn btn-primary" (click)="addCoffee()">Add Cofee</button>
<hr>
<div>
  <h4 *ngFor="let item of grocery | filter:filterString:'condition'">
    {{ item.name }}
    <span [ngClass]="{'badge badge-warning': item.condition == 'expired' , 'badge badge-success': item.condition == 'good'}">
      {{ item.condition }}
    </span>
  </h4>
</div>
</div>
</div>